#parent-div{display: flex;
    flex-direction: column;
    
   
}
#main_div{
    display: inline-block;
    position: relative; 
    background-color:lightgrey;
    text-align: justify;
    margin-bottom: 20px;
    
}
.sub_main{
    position: absolute;
    display: none;
}
li{
    color:tomato;
    list-style-type:none;
}
#main_div:hover > .sub_main{
display:block;
background-color: antiquewhite;
}

/* the display inline does not allow the free styling of the element with padding and margin as expected but if truely to make it behave as expected, consider making the styling of the block level element a display of inline-block and you will see the beauty */
#container_for_fade_effect{
    display: inline;
    position: relative;
    background: lightblue
    
}
.child_container_for_fade_effect{
    opacity: 0;
    display: block;
    
}
#container_for_fade_effect:hover > .child_container_for_fade_effect{
    opacity: 1;
    transition-duration: 30s;    
}